body, html {
  padding: 0px;
  margin: 0px;
  height:100%;
}

#map {
	width:50%;
 	height: 100%;
	float:left;
}

#sideBar {
	width:50%;
	height:100vh;
	float:right;
	background:steelblue;
	color: white;
	font-family:sans-serif;
	padding:20px;
	box-sizing: border-box;
}

h1 {
	font-size:42px;
	margin-top:0;
}


/* Park Divs*/
.park {
	background:#7FABC9;
	padding:20px;
	border-radius:22px;
	margin-bottom:20px;
}

.park.hover {
	background:#8ECEFA;
}

.parkTitle {
	font-size:25px;
	font-weight:bold;
	margin-bottom:11px;
}

.parkInfo {
	font-size:21px;
}

.menu {
	font-size:20px;
	position:absolute;
	right:22px;
	text-decoration:underline;
}